* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3, p {
    text-align: center;
    margin-bottom: 0;
}

p {
    margin: 1em 0;
}

h1 {
    margin-top: 1.5em;
}

table, input.long {
    width: 100%;
    max-width: 1020px;
    margin:auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding: 5px 5px;
}

select {
    min-width: 40px;
}

.totale-cell {
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
    padding: 0 1em;
}
.prezzo, .totale {
    text-align: center;
}

button {
    display: block;
    width: 40vw;
    padding: 0.3em;
    font-size: 1em;
    margin: 10px auto;
}

@media print {    
    .no-print {
        display: none !important;
    }
}
